<div class="container">
	<div class="row span7 offset4" id="feature">
		<div class="span4">
			<h1>Welcome to the microPost App</h1>

			<p>
				This is the home page for a Ruby on Rails microPost application. Try it to sign in with your facebook account!
			</p>
		</div>
		<div class="span2" id="signin">
			<%= link_to "Sign up now! with facebook	", "auth/facebook", class: "btn btn-large btn-primary" %>
		</div>
	</div>
</div>
