<footer class="footer">
	<small>
		<%= link_to "microPost", root_path %>
		by <%= link_to "Delong Gao", "mailto:gdlshallowshade@gmail.com" %>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About Me", "#" %></li>
			<li><%= link_to "Contact", "#" %></li>
		</ul>
	</nav>
</footer>